@page "/confirmationpage"
@inject NavigationManager NavigationManager

<h3>Bekræftelse</h3>

<p>Tak, vi har modtaget din ansøgning til Cirkus Summarum!</p>



<button @onclick="GoBack">Tilbage til forsiden</button>

@code {
    private void GoBack()
    {
        NavigationManager.NavigateTo("/");
    }
}