@page "/EditEmailPage"
@using System.Text.Json
@using Core.Models
@inject Blazored.LocalStorage.ILocalStorageService localStore
<h3>EditEmailPage</h3>

@code {
    private User? user;
    
    
    
    protected override async Task OnInitializedAsync()
    {
        var userInfoJson = await localStore.GetItemAsStringAsync("userinfo");
        if (!string.IsNullOrEmpty(userInfoJson))
        {
            user = JsonSerializer.Deserialize<User>(userInfoJson);
        }
    }
}