@page "/"
<PageTitle>Forside</PageTitle>

<div class="container">
    <img src="Cirkus%20Summarum%20transp.png" alt="Cirkus Summarum Logo" class="logo" />
    <h1>Tilmelding af barn og U18 til Cirkus summarum.</h1>
    <p>Vælg fra menuen ude til venstre.</p>
</div>

<div class="additional-info">
    <h2>Børneklub på Cirkus Summarum 2024</h2>
    <p>Cirkus Summarum er Muskelsvindfondens børnearrangement, hvor der hver dag er tilknyttet ca. 40 frivillige til at få hjulene til at køre rundt på den store legeplads foran cirkusteltet. Men vidste du, at Cirkus Summarum har en børneklub? Det vil sige, at hvis du godt kunne tænke dig at være frivillig, men gerne skal have det til at gå op med familielivet, så kan du tage dine børn med som frivillig på Cirkus Summarum. Det fungerer på den måde, at dine børn bliver passet af andre frivillige i bagområdet (hvor vi har indrettet en børneklub), mens du er frivillig. Når arbejdsdagen er ovre eller inden den begynder, kan man bruge tiden sammen som familie på cirkuspladsen eller i den by, man nu er i.</p>
    <p>Børneklubben bemandes af fire frivillige inklusiv en frivillig chef, som har ansvaret for børnene i løbet af dagen, herunder arrangere udflugter, sørge for børnene kan hjælpe til på cirkuspladsen mv. Der vil blive oprettet Facebook-grupper for alle børneklubsperioderne, hvor forældre og frivillige kan dele informationer med hinanden.</p>
</div>



<link href="css/index.css?v_1.0" rel="stylesheet">


