@page "/newsletter"
@using Core.Models;
@inject HttpClient Http
@using System.Text.Json
@using SommerSummarum.Services
@inject Blazored.LocalStorage.ILocalStorageService localStore;

@if (user?.Role == Roles.Admin)
{
    <PageTitle>Nyhedsbrev</PageTitle>

    <h2>Nyhedsbrev modtagere</h2>

    <button @onclick="Copy" class="btn btn-primary">Kopier Mails</button>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Værge Navn</th>
            <th>Værge tlf. nr.</th>
            <th>Værge Email</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in registeredChildList)
        {
            <tr>
                <td>@item.ParentName</td>
                <td>@item.ParentPhoneNumber</td>
                <td>@item.ParentEmail</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Du har ikke rettigheder til at se denne side</p>
}



@code {

    private string serverUrl = "https://localhost:7016";

    private RegisteredChild[]? registeredChildList = new RegisteredChild[0];

    [Inject]
    private IRegisterChildService rService { get; set; }
    
    [Inject]
    private IClipboardService cService { get; set; }
    
    private User? user;

       protected override async Task OnInitializedAsync()
       {
           var userInfoJson = await localStore.GetItemAsStringAsync("userinfo");
           if (!string.IsNullOrEmpty(userInfoJson))
           {
               user = JsonSerializer.Deserialize<User>(userInfoJson);
           }
           
           registeredChildList = await rService.FilterByNewsletter();

       }

       async Task Copy()
       {
           string mails = "";
           foreach(var child in registeredChildList)
           {
               mails += child.ParentEmail + ", ";
           }
           await cService.CopyToClipboard(mails);
           
       }

}