@page "/ProfilePage"
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject HttpClient Http
@using Core.Models
@using System.Text.Json

@if (user?.Role == Roles.Admin)
{
    <PageTitle>Profile</PageTitle>

    <h1>My Profile</h1>

    <p id="name-of-user">Username: @user.Username</p>
    <p id="email-of-user">Email: @user.Email</p>

    if (user.Role == Roles.Admin)
    {
        <p id="role-display-if-admin">Special Role: @user.Role</p>
    }

    <div class="top-row px-4">
        <button class="btn btn-secondary" @onclick="ClearLocalStorage">Log ud</button>
    </div>
} else {
    <p>Du har ikke rettigheder til at se denne side</p>
}

@code {
    private User? user;

    protected override async Task OnInitializedAsync()
    {
        var userInfoJson = await localStore.GetItemAsStringAsync("userinfo");
        if (!string.IsNullOrEmpty(userInfoJson))
        {
            user = JsonSerializer.Deserialize<User>(userInfoJson);
        }

    }

    public async void ClearLocalStorage()
    {
        await localStore.RemoveItemAsync("userinfo");
        user = null;
        StateHasChanged();
    }
}
