@inject NavigationManager navigationManager;
@inject HttpClient Http;
@inject Blazored.LocalStorage.ILocalStorageService localStore
@using Core.Models
@using System.Text.Json
@using Blazorise.SignaturePad
@using SommerSummarum.Services
@using ValidationSummary = Microsoft.AspNetCore.Components.Forms.ValidationSummary

@page "/RegisterU18VolunteerPage"
<h3>RegisterU18VolunteerPage</h3>

<EditForm EditContext="@aEditContext" class="row p-3" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-6 mb-3">
        <label for="Navn">Navn</label>
        <InputText id="Navn" @bind-Value="u18VolunteerItem.Name" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="Kraevnummer">Krævnummer</label>
        <InputText id="Kraevnummer" @bind-Value="u18VolunteerItem.KraevnummerU18" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="ParentName">Navn på værge</label>
        <InputText id="ParentName" @bind-Value="u18VolunteerItem.ParentName" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="ParentPhoneNumber">Telefonnummer på værge</label>
        <InputText id="ParentPhoneNumber" @bind-Value="u18VolunteerItem.ParentPhoneNumber" class="form-control" />
    </div>
    <div class="col-md-6 mb-3">
        <label for="ParentEmail">Email på værge</label>
        <InputText id="ParentEmail" @bind-Value="u18VolunteerItem.ParentEmail" class="form-control" />
    </div>
    <div>
        <label>Underskrift fra værge</label>
        <br/>
        <SignaturePad CanvasWidth="600" CanvasHeight="400" @bind-Value="@u18VolunteerItem.GuardianSignature" Class="signature-pad" Style="width: 100%; height: 300px; outline-style: dotted"></SignaturePad>
    </div>
    
  
   
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Tilmeld frivillig under 18</button>
    </div>
</EditForm>




@code {
    private User? user;
    
    private EditContext? aEditContext;

    private string serverUrl = "https://localhost:7016";

    private U18Volunteer u18VolunteerItem = new U18Volunteer();
    
    [Inject]
    private IU18VolunteerService uService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        aEditContext = new EditContext(u18VolunteerItem);
        var userInfoJson = await localStore.GetItemAsStringAsync("userinfo");
        if (!string.IsNullOrEmpty(userInfoJson))
        {
            user = JsonSerializer.Deserialize<User>(userInfoJson);
        }
    }

    public async Task HandleValidSubmit()
    {
        u18VolunteerItem.DateAdded = DateTime.Now;
        await uService.AddU18Volunteer(u18VolunteerItem);
        u18VolunteerItem = new();
    }
    
}
