@page "/Sigtest"
@using Blazorise
@using Blazorise.SignaturePad

<h3>Sigtest</h3>
<Row>
    <Column>
        <Card>
            <CardHeader>
                <CardTitle>Signature pad</CardTitle>
            </CardHeader>
            <CardBody>
                <SignaturePad @ref="signaturePad" CanvasWidth="600" CanvasHeight="400" Shadow="Shadow.Large" @bind-Value="@signatureData" Class="signature-pad" Style="width: 100%; height: 300px;"></SignaturePad>
            </CardBody>
        </Card>
    </Column>

    
    
    <Column>
        <Card>
            <CardHeader>
                <CardTitle>Preview</CardTitle>
            </CardHeader>
            <CardBody>
                <Image Source="@Image64" Fluid />
            </CardBody>
        </Card>
    </Column>
</Row>

@code {
    private SignaturePad signaturePad;
    private byte[] signatureData;

    private string Image64 => SignaturePad.GetDataUrl(signatureData);
}